/*------------------------my----------------------*/

.my-topsection {
    padding-top: 15px;
}

.my-body {
    font-size: 18px;
    background-color: #fafafa;
}

.my-form {
    font-size: 18px;
}

.my-form input {
    font-size: 18px;
    color: black;
    padding: 20px;
}

.my-form .btn {
    font-size: 20px;
}

.my-form .my-tel {
    font-size: 24px;
    color: black;
    font-weight: bolder;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.my-panel {
    background-color: white;
    margin-bottom: auto;
    margin-top: 15px;
    padding-left: -15px;
    padding-right: -15px;
}

.my-list-panel {
    background-color: white;
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.my-gap-top {
    margin-top: 15px;
}

.my-gap-left {
    margin-left: 15px;
}

.my-gap-right {
    margin-right: 15px;
}

.my-gap-bottom {
    margin-bottom: 15px;
}
.my-form-group{
    
}
.my-input{
    font-size:18px;
    background-color: #FFFFFF;
    border-color: #5066b4;
}
.my-textarea{
    display: block;
    width: 100%;
    height: 34px;
    padding: 20x 20x;
    font-size: 18px;
    line-height: 18px;
    color: #101010;
    background-color: #FFFFFF;
    border: 1px solid #5066b4;
    border-radius: 8px;
    border-color: #5066b4;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    color: black;
}
/*------------------------my.html----------------------*/

.my-navbar-left-btn {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    width: 25%;
    border-width: 0px 1px 0px 0px;
    border-color: white;
    border-collapse: collapse;
    border-style: solid;
    margin-bottom: 15px;
    margin-top: 15px;
    clear: left;
    float: left;
}

.my-navbar-mid-btn {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    width: 25%;
    border-width: 0px 1px 0px 0px;
    border-color: white;
    border-collapse: collapse;
    border-style: solid;
    margin-bottom: 15px;
    margin-top: 15px;
    clear: none;
    float: left;
}

.my-navbar-right-btn {
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    width: 25%;
    border-width: 0px 0px 0px 0px;
    border-color: white;
    border-collapse: collapse;
    border-style: solid;
    margin-bottom: 15px;
    margin-top: 15px;
    clear: right;
    float: left;
}

.my-navbar-link {
    font-size: 18px;
    color: #FFFFFF;
    border-color: transparent;
    background-color: transparent;
}

.my-navbar-link:hover {
    color: #d1d1d1;
    border-color: #4a5680;
    background-color: #4a5680;
}

.my-head {
    background-color: #6473a8;
    height: 242dp;
    clear: both;
    padding-top: 40px;
}

.my-top-content {
    font-size: 16px;
    color: #ffffff;
    width: 100%;
    clear: both;
    text-align: center;
    padding: 5px;
}

.my-top-content a {
    color: #ffffff;
}

.my-top-headpic {
    width: 90px;
    height: 90px;
    margin-top: 15px;
    border: 2px #ccc solid;
    border-width: 2px;
    border-color: gray;
    text-align: center;
    vertical-align: bottom;
    border-radius: 45px;
    clear: both;
    float: none;
}

.my-list {
    padding-left: 0px;
    padding-right: 0px;
}

.my-list-item {
    padding: 15px;
    font-size: 18px;
    display: block;
    border: 1px solid #bbbbbb;
    border-left-width: 0px;
    border-right-width: 0px;
}

.my-list-item i {
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: -15px;
    font-size: 18px;
}

.my-list-item span {
    color: black;
}

.my-list-item .badge {
    background-color: transparent;
}

.my-list-item .mytextbadge {
    color: #aaaaaa;
    font-size: 14px;
}

.my-list-item .badge .fa {
    color: black;
    font-size: 18px;
    padding-right: 0px;
}

.my-list-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.my-list-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.my-list-item-heading {
    font-size: 18px;
    color: #444444;
}

.my-list-item-text {
    font-size: 16px;
    color: #aaaaaa;
}

.my-list-item-badge {
    background-color: transparent;
}

.my-list-item-badge .fa {
    color: black;
    font-size: 18px;
    padding-right: 0px;
}

.my-list-item-detail {
    padding: 10px 15px 10px 15px;
    font-size: 18px;
    display: block;
    border: 1px solid #bbbbbb;
    border-width: 0px;
    height: 72px;
    margin-bottom: 10px;
    background-color: white;
}

.my-list-item-detail:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.my-list-item-detail:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.my-list-item-detail-badge {
    background-color: transparent;
}

.my-list-item-detail-badge div i {
    color: black;
    font-size: 18px;
    padding-right: 0px;
    text-align: right;
    height: 42px;
    line-height: 42px;
}


/*------------------------mycompanyprofile.html----------------------*/

.mycompany-select {
    font-size: 18px;
    padding-top: 20px;
    width: 100%;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    font-size: 18px;
    padding-top: 20px;
    width: 100%;
}

.mycompany-head {
    background-color: transparent;
    height: 242px;
    clear: both;
}

.mycompany-top-content {
    font-size: 16px;
    color: #ffffff;
    width: 100%;
    clear: both;
    text-align: center;
    padding: 5px;
}

.mycompany-top-content a {
    color: #ffffff;
}
